.container
   ul.nav
    li.nav-item
      a(href="/movies").nav-link#allMovies All Movies
    li.nav-item
      - var disabled = authUser && (authUser.permissions.isAdmin || authUser.permissions.subscriptions.create) ? "":"disabled"
      a(href="/movies/create" class=disabled).nav-link#addMovie Add Movie
    li.nav-item(style="margin-left: auto")
      form.form-inline.my-2.my-lg-0.d-flex(action="/movies", method="GET")
        button.btn.btn-outline-success.mr-2.my-sm-0.d-block(type="submit") Find Movie
        input(type="search" placeholder="Part of movie name" aria-label="Search" name="name")