div.mb-2(style="display: none")
  h6.card-title.mb-2 Add a new movie
  .subscriptionDetails
    select(name="movies" data-role="movieSelect" style="width: 7em").d-block.mb-2
      each movie in movies
        option(value=movie.id) #{movie.name}
    input(type="date" id="start" data-role="movieDate" value="2018-07-22").d-block.mb-2
      

  .btn-group
    button.btn.btn-primary(style="margin-right: 1rem" data-role="createSubscription") Subscribe