extends ./templates/container.pug
block content
  .container
    if(errorMessage && errorMessage.length > 0)
      div.alert.alert-danger.mt-3.text-center #{errorMessage}
    section.hero
      p.hero__text.m-0
        | Menu page
    section.container.actions
      div.row.menu
        div.col.col-sm-12.col-md-4.d-flex.justify-content-center.mb-4
          - var disabled = authUser && (authUser.permissions.isAdmin || authUser.permissions.subscriptions.view) ? "":"disabled"
          a(href="/members" class=`${disabled}`).btn.btn-secondary.p-5.text-decoration-none.menu__btn Members
        div.col.col-sm-12.col-md-4.d-flex.justify-content-center.mb-4
          - disabled = authUser && (authUser.permissions.isAdmin ||authUser.permissions.movies.view) ? "":"disabled"
          a(href="/movies" class=`${disabled}`).btn.btn-secondary.p-5.text-decoration-none.menu__btn Movies
        div.col.col-sm-12.col-md-4.d-flex.justify-content-center.mb-4
          - disabled = authUser && authUser.permissions.isAdmin ? "":"disabled"
          a(href="/users" class=`${disabled}`).btn.btn-secondary.p-5.text-decoration-none.menu__btn Users

  include ./includes/footer.pug 

