extends ./templates/container.pug
block content
  section.hero
    p.hero__text.m-0 
      | View and Filter Movies

  include includes/movies-nav
  h2.text-center.my-4 Movies
  if movies.length < 1
    p No movies, try another filter 
  else
    table.table.table-striped(style="table-layout: fixed; width: 100%")
      thead
        tr
          th(scope="col" style="width: 30%") Movie
        tbody
          each movie in movies
            tr
              td
                a(href= `/movies/${movie.id}`)= movie.name
  include ./includes/footer.pug 


